
<h1><%= profile.name %> </h1>
<img src="<%= profile.imgPath%>">
<h2>Interests</h2>
<div class="interests-list">
    <ul>
        <% for (let i = 0; i < profile.interests.length; i++) { %>
        <li><%= profile.interests[i] %></li>
        <% } %>
    </ul>
</div>
<a href="/profiles/profile-form/<%= profile.id %>"><button>Edit Profile</button></a>
<div class="message">
    <p><%= errorMsg %></p>
</div>