<h1>Profile</h1>

<table>
    <tr>
        <td><p>Username: </p></td>
        <td><p><%= user.username %></p></td>
    </tr>
    <tr>
        <td><p>Name: </p></td>
        <td><p><%= user.firstName %> <%= user.lastName %></p></td>
    </tr>
    <tr>
        <td><p>Email: </p></td>
        <td><p><%= user.email %></p></td>
    </tr>
    <% if(user.roles?.includes("admin") || user.roles?.includes("manager")) { %>
    <tr>
        <td><p>Roles: </p></td>
        <td><p><%= user.roles %></p></td>
    </tr> 
    <% } %>
</table>

<img class="profile-pic" src="<%= user.profilePicPath ?? "/images/defaultProfilePic.png"%>"/>

<h2>Interests</h2>
<div class="interests-list">
    <ul>
        <% for (let i = 0; i < user.interests.length; i++) { %>
        <li><%= user.interests[i] %></li>
        <% } %>
    </ul>
</div>

<% if(reqInfo.roles.includes("manager") || user.username === reqInfo.username) { %> 
    <a href="/user/<%= user.username %>/edit"><button>Edit Profile</button></a>
<% } %>
<% if(reqInfo.roles.includes("admin")) { %> 
    <a href="/user/<%= user.username %>/delete"><button>Delete Profile</button></a>
<% } %>
<div class="message">
    <p><%= errorMsg ? errorMsg : "" %></p>
</div>

<h2>Comments</h2>
<div class="comments">
    <% user.comments  %> 
    <% for (let i = 0; i < user.comments.length; i++) { %>
        <div class="comment">
            <h3><%= user.comments[i].commentAuthor %></h3>
            <p><%= user.comments[i].commentBody %></p>
        </div>
    <% } %>
    <form action="/user/<%= user.username %>" method="POST">   
        <input name="commentBody" type="text" placeholder="Enter a comment ...">
        <input type="submit" value="Submit">        
    </form>
</div>

